NEXT_PUBLIC_SUPABASE_URL=https://iqzhyvggnulolrwpdfxr.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlxemh5dmdnbnVsb2xyd3BkZnhyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2OTg4ODMsImV4cCI6MjA5MjI3NDg4M30.ZTs2-hv0crgKdD3LAnDryq7-xOdMPeD-JDsko7bsfZs
SUPABASE_SERVICE_ROLE_KEY=sb_secret_OC4ElD0yH6L_0IKBhu1FDQ_JGILMttX


OPENAI_API_KEY=sk-...
GOOGLE_GEMINI_API_KEY=AIzaSyABQ2tCoey8wBseQiEcE5K4IiwPFqjSP_I
OPENROUTER_API_KEY=sk-or-v1-...
NEXT_PUBLIC_OPENROUTER_API_KEY=sk-or-v1-...
LIVEKIT_API_SECRET=rrpfq2syly3TFAUmqyBObH5nwspf5KQTKdndDbNSnJJ

Real-time Subtitles (Deepgram)
DEEPGRAM_API_KEY=dg-...

App
NEXT_PUBLIC_APP_NAME=EduPlatform
NEXT_PUBLIC_APP_URL=http://localhost:3000/


LIVEKIT_URL=wss://rinzo-qce35wpz.livekit.cloud
NEXT_PUBLIC_LIVEKIT_URL=wss://rinzo-qce35wpz.livekit.cloud
LIVEKIT_API_KEY=API6zuaqR9x9qsy

NEXT_PUBLIC_GOOGLE_GEMINI_API_KEY=AIzaSyABQ2tCoey8wBseQiEcE5K4IiwPFqjSP_I
OPENROUTER_API_KEY=sk-or-v1-...
NEXT_PUBLIC_OPENROUTER_API_KEY=sk-or-v1-...
